.root {
    -fx-background-color: #f4f4f4;
    -fx-text-fill: #000;
}

.label {
    -fx-text-fill: #000;
}

.text-field, .password-field {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-prompt-text-fill: #aaa;
    -fx-border-color: #ccc;
}

.button {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: black;
    -fx-background-radius: 5px;
    -fx-border-color: #bbb;
}

.button:hover {
    -fx-background-color: #d5d5d5;
}

.check-box {
    -fx-text-fill: black;
}

.table-view {
    -fx-control-inner-background: white;
    -fx-table-cell-border-color: #ccc;
    -fx-table-header-border-color: #ccc;
}

.table-view .column-header {
    -fx-background-color: #dddddd;
}

.table-view .label {
    -fx-text-fill: black;
}

.table-row-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.table-row-cell:selected {
    -fx-background-color: #cde;
    -fx-text-fill: black;
}